<?xml version='1.0'?>
<database>
  <name>zephyr_description</name>
  <license>Creative Commons Attribution 3.0 Unported</license>
  <models>
    <uri>file://zephyr_fixed_wing</uri>
    <uri>file://zephyr_with_skid_pad</uri>
	<uri>file://actor</uri>
	<uri>file://city_terrain</uri>
	<uri>file://ocean</uri>
	<uri>file://ardrone</uri>
	<uri>file://iris_quadrotor</uri>
	<uri>file://iris_quadrotor_with_plugin</uri>
  </models>
</database>
