<?xml version='1.0'?>
<database>
  <name>zephyr_description</name>
  <license>Creative Commons Attribution 3.0 Unported</license>
  <models>
    <uri>file://zephyr_fixed_wing</uri>
    <uri>file://zephyr_with_skid_pad</uri>
	<uri>file://actor</uri>
	<uri>file://city_terrain</uri>
	<uri>file://ocean</uri>
	<uri>file://ardrone</uri>
	<uri>file://iris_quadrotor</uri>
	<uri>file://iris_quadrotor_with_plugin</uri>
	<uri>file://apartment</uri>
<uri>file://cafe</uri>
<uri>file://fire_station</uri>
<uri>file://gas_station</uri>
<uri>file://grocery_store</uri>
<uri>file://house_1</uri>
<uri>file://house_2</uri>
<uri>file://house_3</uri>
<uri>file://law_office</uri>
<uri>file://office_building</uri>
<uri>file://osrf_first_office</uri>
<uri>file://parking_garage</uri>
<uri>file://playground</uri>
<uri>file://police_station</uri>
<uri>file://post_office</uri>
<uri>file://powerplant</uri>
<uri>file://radio_tower</uri>
<uri>file://reactor</uri>
<uri>file://school</uri>
<uri>file://water_tower</uri>
  </models>
</database>
