<?xml version="1.0"?>
<model>
	<name>Zephyr with Skid Pad</name>
	<version>1.0</version>
	<sdf version="1.6">zephyr_with_skid_pad.sdf</sdf>
	<author>
		<name>Okan Aşık</name>
		<email>asik.okan@gmail.com</email>
	</author>
	<description>
      Zephyr delta wing model with an added skid pad to be able to move forward the plane on the ground before takeoff.
    </description>
</model>
